@font-face {
    font-family: "MyriadProBold";
    src: url("../fonts/MyriadProBold/MyriadProBold.eot");
    src: url("../fonts/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"), url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"), url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "MyriadProBoldItalic"; */

@font-face {
    font-family: "MyriadProBoldItalic";
    src: url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot");
    src: url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.woff") format("woff"), url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "MyriadProItalic"; */

@font-face {
    font-family: "MyriadProItalic";
    src: url("../fonts/MyriadProItalic/MyriadProItalic.eot");
    src: url("../fonts/MyriadProItalic/MyriadProItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/MyriadProItalic/MyriadProItalic.woff") format("woff"), url("../fonts/MyriadProItalic/MyriadProItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "MyriadProRegular"; */

@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "MyriadProSemiBold"; */

@font-face {
    font-family: "MyriadProSemiBold";
    src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot");
    src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"), url("../fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"), url("../fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "MyriadProSemiBoldItalic"; */

@font-face {
    font-family: "MyriadProSemiBoldItalic";
    src: url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot");
    src: url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.woff") format("woff"), url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html, * {
    font-family: "MyriadProRegular";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    box-sizing: border-box;
    /*Свойства width и height включают в себя значения полей и грани*/
}

body {
    font-family: "MyriadProRegular";
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
    /*inherit - наследует от родителя*/
}

* {
    margin: 0;
    padding: 0;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.hide-nav {
    position: absolute;
    display: none;
    width: 45px;
    height: 45px;
    background: grey;
    cursor: pointer;
    top: 3px;
    right: 3px;
    z-index: 5;
}

.hide-nav__line {
    position: absolute;
    display: block;
    width: 40%;
    height: 3px;
    left: 30%;
    border-radius: 5%;
    background: #ffffff;
    -webkit-transition: all ease .2s;
    -o-transition: all ease .2s;
    transition: all ease .2s;
}

.hide-nav__line--top {
    top: 15px;
}

.hide-nav__line--middle {
    top: 21px;
    opacity: 1;
}

.hide-nav__line--bottom {
    top: 27px;
}

.hide-nav.active .hide-nav__line--top {
    top: 20px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all ease .2s;
    -o-transition: all ease .2s;
    transition: all ease .2s;
}

.hide-nav.active .hide-nav__line--middle {
    opacity: 0;
}

.hide-nav.active .hide-nav__line--bottom {
    top: 20px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all ease .2s;
    -o-transition: all ease .2s;
    transition: all ease .2s;
}

.wrapper {
    position: relative;
}

.container {
    max-width: 1100px;
    padding: 0px 10px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header {
    position: absolute;
    width: 100%;
    background-color: white;
    padding: 25px 0px;
}

.header .container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}

.header-logo {
    display: block;
    width: 31px;
    padding: 25px;
    background-image: url(../img/logo.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}

.header-nav__item {
    margin-right: 30px;
}

.header-nav__link {
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}

.header-nav__link--active {
    color: #10c9c3;
}

.header-nav__link:hover {
    color: #10c9c3;
}

/* star theader main */

.header-main {
    width: 100%;
    display: flex;
    margin-left: auto;
    background-color: #3e3e3e;
}

.main-wrap {
    padding: 237px 20px 60px 20px;
    max-width: 520px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.main__title {
    font-size: 36px;
    color: white;
    font-family: "MyriadProRegular";
}

.main__text {
    font-size: 18px;
    color: white;
    padding: 34px 0px 39px 0px;
    line-height: 1.5;
}

/* end theader main */

/* start statistics */

.statistics {
    background-color: #10c9c3;
    width: 100%;
}

.wrapper-statistics {
    flex-direction: row;
    display: flex;
}

.statistics__items {
    position: relative;
    width: 25%;
    font-size: 12px;
    color: white;
    font-family: "MyriadPro";
    padding: 100px 0px 100px 60px;
    flex-direction: column;
    display: flex;
}

.statistics__items::before {
    display: block;
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    left: 5px;
}

.statistics__items--portfolio:before {
    background-image: url(../img/portfolio.png);
    background-repeat: no-repeat;
}

.statistics__items--clock:before {
    background-image: url(../img/clock.png);
    background-repeat: no-repeat;
}

.statistics__items--star:before {
    background-image: url(../img/star.png);
    background-repeat: no-repeat;
}

.statistics__items--like:before {
    background-image: url(../img/like.png);
    background-repeat: no-repeat;
}

.number {
    font-size: 18px;
}

.statistics-text {
    text-transform: uppercase;
    padding-top: 5px;
}

.statistics__items:last-child {
    margin-right: 0px;
}

/* end statistics */

/* start skill */

.skill {
    width: 100%;
    background-color: #f8f9f9;
}

.skill>.container {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 570px;
    max-width: 1366px;
    width: 100%;
}

.skill-rightblock {
    max-width: 440px;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 127px 0px;
}

.aboutus-header {
    margin-bottom: 35px;
    font-size: 30px;
    color: #1d1d1d;
    font-family: "MyriadProRegular";
    font-weight: bold;
}

.skill-leftblock {
    height: 100%;
    width: 50%;
    background-color: gray;
}

.skill__items-first {
    font-size: 16px;
    margin-bottom: 20px;
    color: #787878
}

.skill__items-second {
    font-size: 16px;
    margin-bottom: 40px;
    color: #787878
}

.signature {
    width: 50%;
}

.skill__border {
    position: relative;
    margin: 20px 0;
    width: 500px;
    height: 2px;
    background-color: #d8d8d8;
}

.skill__border:last-child {
    margin-bottom: 0px;
}

.image {
    width: 100%;
    height: 100%;
}

.design::after {
    content: "";
    position: absolute;
    width: 75%;
    height: 2px;
    background-color: #10c9c3;
}

.development::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 2px;
    background-color: #10c9c3;
}

.marketing::after {
    content: "";
    position: absolute;
    width: 65%;
    height: 2px;
    background-color: #10c9c3;
}

/* end skill */

/* start topfooter */

.footertop {
    background-color: #ffffff
}

.footertop-wrap {
    text-align: center;
    margin: 100px auto;
    max-width: 675px;
    width: 100%;
}

.data__button {
    padding: 20px 60px;
    text-transform: uppercase;
    background-color: #10c9c3;
    border: none;
    color: white;
    margin: 0 auto;
}

.footertop-text {
    font-size: 16px;
    color: #787878;
    padding: 0px 0px 40px 0px;
    line-height: 1.5;
}

/* end footertop block */

/* start copiright block */

.copiright {
    background-color: black;
    color: #bcbcbc;
}

.copiright-wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 100px 0px 80px 0px;
}

.copiright__item-header {
    font-size: 18px;
    margin-bottom: 30px;
}

.copiright__item-text {
    line-height: 2;
}

.copiright__item {
    width: 33.3%
}

.copiright__item-contact {
    display: flex;
    flex-direction: column;
}

.copiright__item-mail, .copiright__item-phone {
    color: #bcbcbc;
}

.copiright__item-mail {
    padding-bottom: 10px;
}

.copiright__item-columns {
    display: flex;
    justify-content: space-between;
}

.left-column {
    margin-right: 50px;
}

.left-column__item-link {
    color: #bcbcbc;
}

.copiright__item-leftblock {
    display: flex;
    justify-content: space-around;
}

.left-column__item, .right-column__item {
    padding-bottom: 10px;
}

.right-column__item:last-child {
    padding-bottom: 0px;
}

/*  end copiright block  */

@media(max-width: 600px) {
    .statistics {
        display: none;
    }
    .skill>.container {
        padding: 0px;
    }
}

@media(max-width: 375px) {
    .hide-nav {
        display: block;
    }
    .skill>.container {
        padding: 0px;
    }
    .header-nav {
        display: none;
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 3px;
        right: 45px;
    }
    .main__title {
        font-size: 26px;
        color: #1d1d1d;
        font-family: "MyriadProRegular";
    }
    .main-wrap {
        padding: 115px 20px 60px 20px;
        max-width: 520px;
        width: 100%;
        margin-left: auto;
        text-align: center;
    }
    .wrapper-statistics {
        display: none;
    }
    .skill>.container {
        flex-direction: row;
        display: flex;
        flex-direction: column;
        height: 427px;
    }
    .footertop-wrap {
        margin: 20px auto;
    }
    .copiright-wrap {
        flex-direction: column;
        padding: 20px 0px 20px 0px;
    }
    .copiright__item-leftblock {
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
    }
    .copiright__item-contact {
        text-align: center;
        padding-bottom: 25px;
    }
    .copiright__item-columns {
        display: flex;
        justify-content: space-between;
    }
    .copiright__item-rightblock {
        margin-right: 45px;
    }
    .copiright__item-header {
        display: none;
    }
    .copiright__item-text {
        display: none;
    }
    .copiright__item {
        width: 100%;
    }
}